.contenedor{
    display: flex;
    justify-content: center;
    padding: 170px 0px 0px 0px;
}
.container{
    background-color: rgba(195, 195, 195, 0.83);
    width: 480px;
    height: 380px;
    border-radius: 5px;
    overflow: hidden;
}
.crearCuenta {
    display: flex;
    justify-content: flex-start;
    padding: 32px 0px 10px 48px;
}
a{
    color: blue;
}
.titulo h1{
    display: flex;
    justify-content: center;
    color:black;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputs{
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.nombreU{
    width: 80%;
    border: 1px solid white;
    padding: 10px 0px 0px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}
.contra{
    width: 80%;
    border: 1px solid white;
    padding: 10px 0px 0px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}
::placeholder{
    color: black;
}
input{
    width: 200px;
    height: 45px;
}
.btnRegistrar{
    display: flex;
    justify-content: center;
    padding: 25px;
    overflow: hidden;
}
.btnEnviar:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.btnEnviar{
    border-radius: 10px;
    border: 1px solid rgb(52, 107, 211);
    background-color: rgb(52, 107, 211);
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 88%;
}
p{  
    font-size: 15px;
    padding: 0px 0px 0px 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

